#sidebar{
    position: fixed;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    width: 86px;
    padding: 12px 6px;
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    background-color: var(--pd-white-opa);
    color: white;
    border-radius: 16px;
    z-index: 9999;
}
.sidebar-item{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 12px;
    border-radius: 12px;
    transition: all 0.25s ease;
}
.sidebar-item:hover {
    cursor: pointer;
    background-color: var(--pd-gray);
}
.sidebar-item__img{
    width: 56px; 
    height: 56px;
    display: block;
    border-radius: 12px;
    background-color: var(--pd-black);
}