*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
    color: white;
}
:root{
    --pd-green: #1DB954;
    --pd-light-green: #1ED760;
    --pd-white: ##FFFFFF;
    --pd-black: #191414;
}