#mindx-main{
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    padding: 24px;
    width: 100vw;
    height: 100vh;
    padding: 0 200px;
    background-color: rgb(241, 238, 238);
    background-image: url('../../assets/img/bg-dark-green.jpg');
    background-size: cover;
}
.mindx-title{
    font-size: 40px;
    margin: 24px 0 12px 0;
    color: var(--pd-white);
}